<div>
    <h1>Dudas</h1>
    <div>
        <p>Asunto: <input type="text" name="asunto"></p>
        <p>Describa su duda:</p><p><textarea cols="50" rows="10"></textarea></p>
    </div>
    <p><input type="button" name="enviar" value="Enviar"></p>
    <br>
    <div>
        <hr>
        <h2>Dudas Enviadas</h2>
        <div>
            <!--se podria usar un foreach para los asuntos-->
            
            <h3>asunto:</h3>
            <p>descripcion de la tarea:</p>
            <p><input type="button" name="Detalles" value="Detalles/respuesta"></p>
        </div>
    </div>
</div>