<!DOCTYPE html>
<html lang="en">
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1">
<title>Plantilla</title>

{% load static %}
<link href="{% static 'inicio/css/bootstrap.min.css' %}" rel="stylesheet">
<link href="{% static 'inicio/css/londinium-theme.css' %}" rel="stylesheet">
<link href="{% static 'inicio/css/styles.css' %}" rel="stylesheet">
<link href="{% static 'inicio/css/icons.css' %}" rel="stylesheet">

<!-- jQuery (necesario para Bootstrap) -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<!-- Solo cargar archivos JS que SÍ existen -->
<script src="{% static 'inicio/js/bootstrap.min.js' %}"></script>
<!--<script src="{% static 'inicio/js/application.js' %}"></script>-->


</head>
<!--Diego Daniel Yañez Zacarias-->
<body>
    <div class="sidebar" style="background-color: #24884f;">
        <div class="logo-container">
            <a href="{% url 'tareas' %}">
              <img src="{% static 'imagenes/encabezado.jpg' %}" alt="Logo del Sitio" class="logo" width="150" height="50">
            </a>
        </div>
        <div class="sidebar-content">
            <ul class="navigation">
                <li><a href="{%url 'principal'%}">Principal</a></li>
                <li><a href="{%url 'dudas'%}">Dudas</a></li>
                <li><a href="{%url 'tareas'%}">Tareas</a></li>
                <li><a href="{%url 'reconocimientos'%}">Reconocimiento</a></li>
                
            </ul>
        </div>
    </div>
    {% block contenido %}

    {% endblock %}
    
</body>
</html>