{%extends "inicio/encabezado.html" %}

{% block titulo %} Principal {%endblock%}
{%load static%}

{% block contenido %}
<div class="page-content">
    <h1>Bienvenidos padres de familia les damos la bienvenida</h1>
    <div>
        <img src="#" alt="" >
    </div>
    <div>
        <table class = "table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Foto</th>
                    <th>Nombre</th>
                </tr>
            </thead>
        <tbody>
            <tr>
                <td class="text-center"><img src="" alt="" class="img-media"></td>
                <td class="muted">Nombre del Niño</td>
            </tr>
        </tbody>
    </table>
    </div>
</div>
{% endblock %}