<!--Brandon Vargas Correa-->>
{% extends "inicio/encabezado.html" %}

{% block tilulo %}Tareas{% endblock %}
{% block tilulo1 %}Tareas{% endblock %}
{% block tilulo2 %}General{% endblock %}

{% block contenido %}
<div class="page-content">
    <div class="page-header">
        <div class="page-title">
            <h3>Tareas
                <small>General</small>
            </h3>
        </div>
    </div>

    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Tareas</th>
                <th>Asigna</th>
                <th>Estado</th>
                <th></th>
            </tr>
        </thead>
         <tbody>
        <tr>
            <td>segunda entrega </td>
            <td>mtra Elena</td>
            <td>pendiente</td>
            <td><button class="btn btn-success">Ver</button></td>
        </tr>
        <tr>
            <td>Elementos de Ionic</td>
            <td>mtra paulina</td>
            <td>Realizada</td>
            <td><button class="btn btn-success">Ver</button></td>
        </tr>
    </table>
</div>
{% endblock %}